.Header {
    background-color:#E3EDFD;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  }
  
  .Header-navicons {
    display: contents;
    align-items: flex-end;
    flex-direction: row;
 }

 .inactive {
    margin-right: 5vh;
    font-size: 20px;
    color: #2F80ED;
    text-decoration: none;
    white-space: pre-line;
}
  .active {
    color: #2F80ED;
    margin-right: 5vh;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    white-space: pre-line;
  }

  